.App {
  text-align: center;
}

body{
  background: #007991; 
background: -webkit-linear-gradient(to bottom, #78ffd6, #007991); 
background: linear-gradient(to bottom, #78ffd6, #007991); 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.stop-watch{
  width: 50%;
  margin:200px auto;
  border: 1px solid blanchedalmond;
  padding: 30px 20px;
  display: flex;
  background: #000046; 
  background: -webkit-linear-gradient(to top, #000046, #1cb5e0); 
  background: linear-gradient(to top, #000046, #1cb5e0); 
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  flex-direction:column;
}
.watch-view{
  margin: 20px 10px;
  padding: 10px;
  border-radius: 8px;
  z-index: 99;
}

.number-text{
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 40px;
  color: blanchedalmond;
}
.btn{
  margin: 0 5px; 
  padding: 15px 25px ;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #2C5364;
  outline: none;
  border-radius: 8px;
  border:0;
  cursor: pointer;
  color: blanchedalmond;
}
.history-container{
  margin: 20px auto;
  display: flex;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid blanchedalmond;
}
.history{
  margin: 20px;
}
.history span{
  margin: 0;
  padding: 0;
  font-size:20px;
  color: aliceblue;
  letter-spacing: 1px;
}
.history h6{
  font-size:20px;
  color: aliceblue;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}